html,
body {
    height: 100%;
}

.body-column1 {
    float: left;
    width: 20%;
    padding: 15px;
}

.body-column2 {
    float: right;
    width: 80%;
    padding: 15px;
}

.pageInformer {
	position: fixed;
}

.pageInformer a{
	display: block;
	margin: 5px;
}

.sortable-placeholder {
    width: 100%;
	display: table-row-group;
	background-color: #000;
}


//////////////////////////////////////////
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > div {
    padding: 15px;
	color: #e2dede;
}

.nav > li > div > span {
 	color: #333333;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.container .row {
	background-color: #f5f5f5;
	margin-bottom: 10px;
    padding: 10px
}

.page-form  .fieldGallery  img{
    width: 130px;
	height: 100px;
}

.page-form  .fieldGallery  input{
    width: 100%;
}
.page-form  .fieldGallery  textarea{
    width: 100%;
}

.page-index-details h1 {
	display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
}

.line-block {
	display: flex;
}

.color-blue {
	background-color: #337ab7;
}